.ant-modal {
  top: 20%;

  .ant-modal-content {
    padding: 2rem 0;

    >* {
      padding-left: 2.4rem;
      padding-right: 2.4rem;
    }
  }
}


.ant-modal-body {
  max-height: calc(100vh - 40rem);
  overflow-y: auto;
}

.ant-modal.ant-modal-confirm,
.ant-modal.ant-modal-confirm-error {
  top: 40%;

  .ant-modal-content {
    padding: 2rem;
  }
}