.ant-modal {
  top: 20%;

  .ant-modal-content {
    @apply py-[2rem] px-0;

    >* {
      @apply px-[2.4rem];
    }
  }
}


.ant-modal-body {
  max-height: calc(100vh - 40rem);
  overflow-y: auto;
}

.ant-modal.ant-modal-confirm,
.ant-modal.ant-modal-confirm-error {
  top: 40%;

  .ant-modal-content {
    @apply p-[2rem];
  }
}