.login {
  @apply bg-[#f3f5f7] w-screen h-screen flex items-center justify-center;
}

.login__box {
  position: relative;
  border-radius: 1.2rem;
  padding: 2rem 2rem 4rem;
  width: 100%;
  max-width: 40rem;
  box-shadow: 0px 0px 3px #00000014;
  background-color: white;
  color: var(--ui-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title {
  @apply flex text-[3.6rem] font-bold mb-[4rem];

  span {
    @apply pt-[0.5rem] pl-[1rem];
  }
}

.login__description {
  @apply flex justify-center;
  color: var(--ui-gray180);

  span {
    @apply cursor-pointer;

    &:hover {
      color: var(--ui-gray200);
      transition: all 0.3s;
    }
  }

  .login__description-item+.login__description-item {
    &::before {
      content: '';
      border-left: 1px solid var(--ui-gray180);
      @apply mx-3;
    }
  }
}

// PC
@media screen and (min-width: 1280px) {
  .login__box {
    padding: 4rem 4rem 8rem;
    max-width: 50rem;
  }

  .login__form {
    width: 35rem;
  }
}